
.bodyMain {
  height: 100vw;
  width: 100%;
  font-family: Consolas;
  background-image: url(/background.jpg);
  background-repeat: repeat;
  display: flex;
  flex-direction: column;
  justify-content:first baseline;
  align-items: center;
}
.loading {
  color: azure;
  width: 10%;
  height: auto;
}
.error{
  font-size: large;
  color: lightcoral
}
.mainHeader {
  text-align: center;
  padding: 10px;
  color: rgb(255, 255, 255);
  font-size: 36pt;
}
.episodes {
  width: 100%;
}
.episode {
  width: 60%;
  margin: 20px auto;
  border: 5px solid grey;
  padding: 15px;
  background-color: darkslateblue;
  border-radius: 15px;
  color: white;
}
.episodeTitle {
  font-size: 32pt;
}
.episodeInfo {
  font-size: 24pt;
}
.episodeVerbose {
  font-size: 20pt;
}
.episodeHeader {
  cursor: pointer;
}
.hidenDiv{
  display: none;
}
